SPRING_PROFILES_ACTIVE=

DB_URL=
DB_USERNAME=
DB_PASSWORD=

JWT_SECRET=

MAIL_USERNAME=
MAIL_PASSWORD=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=

FRONT_END_URL=
FRONT_END_SUCCESS_REDIRECT=
FRONT_END_FAILURE_REDIRECT=
FRONT_END_RESET_URL=

FILE_UPLOAD_DIR=